<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{joinWithComma keywords}}">
  <title>"{{title}}" {{description}} {{version}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <style>
    {{> style.css }}
  </style>
  <style>
    .splash {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      height: 100%;
    }
  </style>
</head>
<body>
<div class="splash">"{{title}}" {{description}} {{version}} apiDoc is loading ...</div>
</body>
<script>
  const templateContent = `{{> template.content.hbs }}`;
  const templateContentParamGroup = `{{> template.content.param-group.hbs }}`;

  (function () {
    {{> handlebars.js }}
  })();

  {{> apidoc.data.js }}
  {{> apidoc.i18n.js }}
  {{> apidoc.js }}
</script>
</html>