<html>
<head>
  <title>"{{title}}" {{description}} {{version}}</title>
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<b>"{{title}}" {{description}} {{version}} ApiDoc is loading ...</b>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script src="apidoc.template.min.js"></script>
<script src="apidoc.min.js"></script>
</html>