<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{joinWithComma keywords}}">
  <title>"{{title}}" {{description}} {{version}}</title>
  <link rel="icon" type="image/png" href="data:image/png;base64,{{> favicon.png.base64}}" />
  <style>
    {{> style.css }}
  </style>
  <style>
    .splash {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      height: 100%;
    }
  </style>
</head>
<body>
<div class="splash">"{{title}}" {{description}} {{version}} apiDoc is loading ...</div>
</body>
<script>
  const templates = {
    content: `{{> template.content.hbs.content }}`,
    contentParamExample: `{{> template.content.param_example.hbs.content }}`,
    contentParamGroup: `{{> template.content.param_group.hbs.content }}`,
    contentParamGroupVariant: `{{> template.content.param_group_variant.hbs.content }}`,
    contentParamValueGroup: `{{> template.content.param_value_group.hbs.content }}`,
    contentSsrParamGroupVariant: `{{> template.content.ssr.param_group_variant.hbs.content }}`,
    contentSsrParamGroupVariantSection: `{{> template.content.ssr.param_group_variant.section.hbs.content }}`,
  };

  (function () {
    {{> handlebars.js }}
 
  })();

  (function () {
    {{> socket.io-client.js }}
  
  })();

  {{> apidoc.data.js }}
  {{> apidoc.i18n.js }}
  {{> apidoc.js }}
</script>
</html>