<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{joinWithComma keywords}}">
  <title>"{{title}}" {{description}} {{version}}</title>
  <style>
    {{> style.css }}
  </style>
</head>
<body>
  {{> content.hbs }}
</body>
<script>
  const config = {{toJson this.config}};
  const sections = {{toJson this.sections}};

  const HtmlDiff = (function () {
    const module = {};

    {{> htmldiff.js }}

    return module.exports.default;
  })();

  {{> compile_body_form.js }}
  {{> compile_body_xml.js }}
  {{> prepare_body.js }}
  {{> main.element.js }}
  {{> main.element.selector.js }}
  {{> main.event_emitter.js }}
  {{> main.func.js }}
  {{> main.js }}
  {{> main.request.js }}
  {{> ssr.js }}
  {{> ssr.hook.js }}
  {{> ssr.preset.js }}
  {{> ssr.variable.js }}
</script>
</html>