<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{joinWithComma keywords}}">
  <title>"{{title}}" {{description}} {{version}}</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
  <style>
    .splash {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      height: 100%;
    }
  </style>
</head>
<body>
<div class="splash">"{{title}}" {{description}} {{version}} apiDoc is loading ...</div>
</body>
<script src="handlebars.min.js"></script>
<script src="socket.io.js"></script>
<script src="apidoc.data.min.js"></script>
<script src="apidoc.i18n.min.js"></script>
<script src="apidoc.template.min.js"></script>
<script src="apidoc.min.js"></script>
</html>