<div class="container flex">
  <div class="width-100">
    <div class="sub-container">
      <div class="control-panel">
        <div class="width-100 flex">
          <div class="width-20"></div>
          <div class="width-80 flex">
            <div class="width-70"></div>
            <div class="width-30 flex">
              <div class="flex-1">
                <select class="width-100 input right color-blue" data-element="chapterSelector">
                  {{#each chaptersAsLists}}
                    {{#ifCond this.title '==' '$'}}
                      <option value="{{../this.title}}">Main chapter</option>
                    {{else}}
                      <option value="{{../this.title}}">{{../this.title}}</option>
                    {{/ifCond}}
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section left-padded color-1 font-size-4 bold">{{title}}</div>
      <div class="section left-padded color-2">{{toHtml description}}</div>
    </div>
  </div>

</div>
{{#each chaptersAsLists as |chapter index|}}
  <div class="container flex {{#ifCond index '!=' 0}}hidden{{/ifCond}}" data-element="chapter_{{this.title}}">

    <div class="width-20">
      <div class="sub-container">
        {{#each this.groups}}
          {{#ifCond this.title '!=' '$'}}
            <div class="element-badge bg-color-1 color-white bold">{{../this.title}}</div>
          {{/ifCond}}
          {{#each this.subgroups}}
            {{#ifCond this.title '!=' '$'}}
              <div class="left-padded top-padded bold smaller">{{../this.title}}</div>
            {{/ifCond}}
            {{#each this.names}}
              <a class="menu-item element-badge" href="#{{this.0.familyId}}">{{this.0.title}}</a>
            {{/each}}
          {{/each}}
        {{/each}}
      </div>
    </div>

    <div class="width-80">
      <div class="sub-container">
        {{#each this.groups}}
          {{#each this.subgroups}}
            {{#each this.names}}
              <div class="block">
                <div class="control-panel">
                  <div class="width-30 flex" data-control-panel="{{this.0.familyId}}">
                    <div class="flex-1">
                      <button class="width-100 control flex-1 color-blue">Hide hints</button>
                    </div>
                    <div class="flex-1">
                      <select class="width-100 input flex-1 right color-blue">
                        {{#each this}}
                          <option value="{{this.version}}">{{this.version}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <div class="flex-1"></div>
                  </div>
                </div>
                {{#each this as |block index|}}
                  {{#ifCond index '==' 0}}
                    <a name="{{block.familyId}}"></a>
                  {{/ifCond}}
                <div class="{{#ifCond index '!=' 0}}hidden{{/ifCond}}" data-block="{{block.id}}">
                  <div class="control-panel">
                    <div class="width-10 flex" data-block-control-panel="{{block.id}}">
                      <div class="flex-1">
                        <select class="width-100 input right color-blue" data-block-element="contentType">
                          {{#each block.contentType}}
                            <option value="{{this}}">{{this}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="section left-padded color-1 font-size-1 bold">
                      <span class="{{#if this.deprecated}}line-through{{/if}}">
                        {{this.title}}
                        <span class="color-3">
                          {{#ifCond this.group.name '!=' '$'}}
                            {{first ../this.group.title ../this.group.name}} /
                          {{/ifCond}}
                          {{#ifCond this.subgroup '!=' '$'}}
                            {{../this.subgroup}} /
                          {{/ifCond}}
                          {{this.version}}
                        </span>
                      </span>
                    {{#if this.deprecated}}
                      {{#ifCond this.deprecated '!=' true}}
                        <span class="left-padded color-red small sup">{{../this.deprecated}}</span>
                      {{/ifCond}}
                    {{/if}}
                  </div>
                  <div class="section left-padded color-2">{{toHtml (join this.description)}}</div>

                  <div class="section flex">
                    <span class="padded font-size-1 uppercase mono bold">{{toUpperCase this.api.transport.name}}</span>
                    {{#ifCond this.api.transport.name '==' 'http'}}
                      {{#ifCond ../this.api.transport.method '==' 'delete'}}
                        <span class="badge bg-color-red color-white font-size-1 uppercase mono bold">DELETE</span>
                      {{else ifCond ../this.api.transport.method '==' 'get'}}
                        <span class="badge bg-color-green color-white font-size-1 uppercase mono bold">GET</span>
                      {{else ifCond ../this.api.transport.method '==' 'put'}}
                        <span class="badge bg-color-orange color-white font-size-1 uppercase mono bold">PUT</span>
                      {{else}}
                        <span class="badge bg-color-blue color-white font-size-1 uppercase mono bold">{{../this.api.transport.method}}</span>
                      {{/ifCond}}
                    {{/ifCond}}
                  </div>

                  <div class="section">
                    <div class="response big-badge bg-color-black color-white font-size-1 mono">{{this.api.endpoint}}</div>
                  </div>

                  {{#if this.permission}}
                    <div class="section">
                      <span class="padded">
                        Permission:
                        {{#each this.permission}}
                          <span class="badge bg-color-dark-cyan color-white">{{this.name}}</span>
                        {{/each}}
                      </span>
                    </div>
                  {{/if}}

                  <div data-block-hint="{{block.familyId}}">
                    {{#if this.example}}
                      {{#each this.example}}
                        <div class="section">
                          <div class="label">{{#if this.title}}{{this.title}}{{else}}Usage example{{/if}}:</div>
                          <pre class="response big-badge bg-color-dark-green color-white mono">{{toHtml
                                  (join this.description)}}</pre>
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.headers.length}}
                      {{#each this.headersGroups as |params key|}}
                        {{#with (context 'definitions') as |definitions|}}
                          <div class="label">{{#ifCond key '==' '$'}}Header{{else}}{{first (lookup definitions key 'title') key}}{{/ifCond}}:</div>
                          {{#if (lookup definitions key 'description')}}
                            <div class="section left-padded color-2">{{toHtml (join (lookup definitions key 'description'))}}</div>
                          {{/if}}
                        {{/with}}
                        <div class="section">
                          <div class="table">
                            <div class="width-25 bg-color-4 bold">Field</div>
                            <div class="width-15 bg-color-4 bold">Type</div>
                            <div class="flex-1 bg-color-4 bold">Description</div>
                          </div>
                          {{#each params}}
                            <div class="table">
                              <div class="width-25 color-2 mono">{{this.field.name}}</div>
                              <div class="width-15 color-2 mono">{{this.type.name}}</div>
                              <div class="flex-1">{{toHtml (join this.description)}}</div>
                            </div>
                          {{/each}}
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.headerExample}}
                      {{#each this.headerExample}}
                        <div class="section{{#ifCond this.type '!=' ../this.contentType.[0] this.type '!='
                                                     'any'}} hidden{{/ifCond}}"
                             data-block-example="{{../this.id}}_{{this.type}}">
                          <div class="label">{{#if this.title}}{{this.title}}{{else}}Header example{{/if}}:</div>
                          <pre class="response big-badge bg-color-2 color-white mono">{{toHtml
                                  (join this.description)}}</pre>
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.params.length}}
                      {{#each this.paramsGroups as |params key|}}
                        {{#with (context 'definitions') as |definitions|}}
                          <div class="label">{{#ifCond key '==' '$'}}Parameter{{else}}{{first (lookup definitions key 'title') key}}{{/ifCond}}:</div>
                          {{#if (lookup definitions key 'description')}}
                            <div class="section left-padded color-2">{{toHtml (join (lookup definitions key 'description'))}}</div>
                          {{/if}}
                        {{/with}}
                        <div class="section">
                          <div class="table">
                            <div class="width-25 bg-color-4 bold">Field</div>
                            <div class="width-15 bg-color-4 bold">Type</div>
                            <div class="flex-1 bg-color-4 bold">Description</div>
                          </div>
                          {{#each params}}
                            <div class="table">
                              <div class="width-25 color-2 mono">
                                {{pathLastKeyIndented this.field.name}}
                                {{#if this.field}}
                                  {{#if this.field.isOptional}}
                                    <span class="small sup mono color-3 optional">optional</span>{{else}}{{/if}}
                                {{/if}}
                              </div>
                              <div class="width-15 color-2 mono">{{this.type.name}}</div>
                              <div class="flex-1">
                                {{toHtml (join this.description)}}
                                {{#if this.type}}
                                  {{#if this.type.allowedValues}}
                                    <div class="{{#if this.description.length}}top-padded{{/if}}">
                                      <div class="smaller color-3">Allowed values:</div>
                                      {{#each this.type.allowedValues}}
                                        <div class="smaller color-blue">{{this}}</div>
                                      {{/each}}
                                    </div>
                                  {{/if}}
                                {{/if}}
                                {{#if this.field}}
                                  {{#if this.field.defaultValue}}
                                    <div class="{{#if this.description.length}}top-padded{{else}}{{#if this.type}}{{#if
                                            this.type.allowedValues}}top-padded{{/if}}{{/if}}{{/if}}">
                                      <div class="smaller color-3">Default value:</div>
                                      <div class="smaller color-blue">{{this.field.defaultValue}}</div>
                                    </div>
                                  {{/if}}
                                {{/if}}
                              </div>
                            </div>
                          {{/each}}
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.paramExample}}
                      {{#each this.paramExample}}
                        <div class="section{{#ifCond this.type '!=' ../this.contentType.[0] this.type '!='
                                                     'any'}} hidden{{/ifCond}}"
                             data-block-example="{{../this.id}}_{{this.type}}">
                          <div class="label">{{#if this.title}}{{this.title}}{{else}}Parameter example{{/if}}:</div>
                          <pre class="response big-badge bg-color-2 color-white mono">{{toHtml
                                  (join this.description)}}</pre>
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.successs.length}}
                      {{#each this.successsGroups as |successes key|}}
                        {{#with (context 'definitions') as |definitions|}}
                          <div class="label">{{#ifCond key '==' '$'}}Success 200{{else}}{{first (lookup definitions key 'title') key}}{{/ifCond}}:</div>
                          {{#if (lookup definitions key 'description')}}
                            <div class="section left-padded color-2">{{toHtml (join (lookup definitions key 'description'))}}</div>
                          {{/if}}
                        {{/with}}
                        </div>
                        <div class="section">
                          <div class="table">
                            <div class="width-25 bg-color-4 bold">Field</div>
                            <div class="width-15 bg-color-4 bold">Type</div>
                            <div class="flex-1 bg-color-4 bold">Description</div>
                          </div>
                          {{#each successes}}
                            <div class="table">
                              <div class="width-25 color-2 mono">{{this.field.name}}</div>
                              <div class="width-15 color-2 mono">{{this.type.name}}</div>
                              <div class="flex-1">{{toHtml (join this.description)}}</div>
                            </div>
                          {{/each}}
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.successExample}}
                      {{#each this.successExample}}
                        <div class="section{{#ifCond this.type '!=' ../this.contentType.[0] this.type '!='
                                                     'any'}} hidden{{/ifCond}}"
                             data-block-example="{{../this.id}}_{{this.type}}">
                          <div class="label color-green">{{#if this.title}}{{this.title}}{{else}}
                            Success example{{/if}}:
                          </div>
                          <pre class="response big-badge bg-color-2 color-white mono">{{toHtml
                                  (join this.description)}}</pre>
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.errors.length}}
                      {{#each this.errorsGroups as |errors key|}}
                        {{#with (context 'definitions') as |definitions|}}
                          <div class="label">{{#ifCond key '==' '$'}}Error 4xx{{else}}{{first (lookup definitions key 'title') key}}{{/ifCond}}:</div>
                          {{#if (lookup definitions key 'description')}}
                            <div class="section left-padded color-2">{{toHtml (join (lookup definitions key 'description'))}}</div>
                          {{/if}}
                        {{/with}}
                        <div class="section">
                          <div class="table">
                            <div class="width-25 bg-color-4 bold">Name</div>
                            <!-- <div class="width-15 bg-color-4 bold">Type</div> -->
                            <div class="flex-1 bg-color-4 bold">Description</div>
                          </div>
                          {{#each errors}}
                            <div class="table">
                              <div class="width-25 color-2 mono">{{this.field.name}}</div>
                              <!-- <div class="width-15 color-2 mono">{{this.type.name}}</div> -->
                              <div class="flex-1">{{toHtml (join this.description)}}</div>
                            </div>
                          {{/each}}
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if this.errorExample}}
                      {{#each this.errorExample}}
                        <div class="section{{#ifCond this.type '!=' ../this.contentType.[0] this.type '!='
                                                     'any'}} hidden{{/ifCond}}"
                             data-block-example="{{../this.id}}_{{this.type}}">
                          <div class="label color-red">{{#if this.title}}{{this.title}}{{else}}Error example{{/if}}:
                          </div>
                          <pre class="response big-badge bg-color-2 color-white mono">{{toHtml
                                  (join this.description)}}</pre>
                        </div>
                      {{/each}}
                    {{/if}}
                  </div>

                  {{#ifCond this.sampleRequest.[0] '!=' false}}
                    <div class="label">Sample request:</div>

                    {{#if ../this.sampleRequestProxy}}
                      <div class="inner-label color-blue">Preset:</div>

                      <div class="section flex">
                        <label class="input-label width-25 color-blue" for="{{this.id}}">Name</label>
                        <input
                                class="input flex-1 color-blue"
                                id="{{../this.id}}_presetName"
                                name="presetName"
                                type="text"
                                data-block-element="presetName"
                                value=""
                        />
                        <select class="input flex-1 color-blue" data-block-element="presetSelect">
                          <option value="new">New</option>
                        </select>
                      </div>

                      <div class="section">
                        <button class="button margin-left-25 color-blue" data-block-element="presetSave">Save</button>
                        <button class="button color-blue" data-block-element="presetLoadList">Load list</button>
                      </div>

                      <div class="inner-label"></div>
                    {{/if}}

                    <div class="section flex">
                      <label class="input-label width-25 bold" for="{{this.id}}">Endpoint</label>
                      <input
                              class="input flex-1"
                              id="{{../this.id}}"
                              name="endpoint"
                              type="text"
                              data-block-element="endpoint"
                              value="{{first ../this.sampleRequest.[0] ../this.api.endpoint}}"
                      />
                    </div>

                    {{#if ../this.headers.length}}
                      {{#each ../this.headersGroups as |params key|}}
                        <div class="inner-label">{{#ifCond key '==' '$'}}Header{{else}}{{key}}{{/ifCond}}:</div>
                        <div class="section">
                          {{#each params}}
                            <div class="section flex">
                              <label class="input-label width-25"
                                     for="{{../../../this.id}}_h_{{this.field.name}}"
                                     title="{{this.field.name}}">{{this.field.name}}</label>
                              {{#if this.type.modifiers.enum}}
                                <select
                                        class="input flex-1"
                                        id="{{../../../this.id}}_h_{{this.field.name}}"
                                        name="{{this.field.name}}"
                                        type="text"
                                        data-block-element="header"
                                        value="{{this.field.defaultValue}}"
                                >
                                  {{#each ../this.type.allowedValues}}
                                    <option value="{{this}}">{{this}}</option>
                                  {{/each}}
                                </select>
                              {{else}}
                                <input
                                        class="input flex-1"
                                        id="{{../../../this.id}}_h_{{this.field.name}}"
                                        name="{{this.field.name}}"
                                        type="text"
                                        data-block-element="header"
                                        value="{{this.field.defaultValue}}"
                                />
                              {{/if}}
                              <!-- <span class="input-placeholder mono">{{this.type.name}}</span> -->
                            </div>
                          {{/each}}
                        </div>
                      {{/each}}
                    {{/if}}

                    {{#if ../this.params.length}}
                      {{#each ../this.paramsGroups as |params key|}}
                        <div class="inner-label">{{#ifCond key '==' '$'}}Parameter{{else}}{{key}}{{/ifCond}}:</div>
                        <div class="section">
                          {{#each params}}
                            {{#hook 'isNotContainerType' this.type.name}}
                              <div class="section flex">
                                <label class="input-label width-25"
                                       for="{{../../../../this.id}}_p_{{../this.field.name}}"
                                       title="{{../this.field.name}}">{{../this.field.name}}</label>
                                {{#if ../this.type.modifiers.enum}}
                                  <select
                                          class="input flex-1"
                                          id="{{../../../../this.id}}_p_{{../this.field.name}}"
                                          name="{{../this.field.name}}"
                                          type="text"
                                          data-block-element="param"
                                          value="{{../this.field.defaultValue}}"
                                  >
                                    {{#each ../this.type.allowedValues}}
                                      <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                  </select>
                                {{else}}
                                  <input
                                          class="input flex-1"
                                          id="{{../../../../this.id}}_p_{{../this.field.name}}"
                                          name="{{../this.field.name}}"
                                          type="{{#ifCond ../this.type.name '==' 'File'}}file{{else}}text{{/ifCond}}"
                                          data-block-element="param"
                                          value="{{../this.field.defaultValue}}"
                                  />
                                {{/if}}
                                <span class="input-placeholder mono">{{../this.type.name}}</span>
                              </div>
                            {{/hook}}
                          {{/each}}
                        </div>
                      {{/each}}
                    {{/if}}

                    <div class="section">
                      <button class="button margin-left-25" data-block-element="send">Send</button>
                      {{#ifCond ../this.api.transport.name '==' 'websocket'}}
                        <button class="button" data-block-element="wsConnect">Connect</button>
                        <button class="button hidden" data-block-element="wsDisconnect">Disconnect</button>
                      {{/ifCond}}
                    </div>

                    <div class="section hidden" data-block-element="response">
                      <div class="label">Response:</div>
                      <pre class="response big-badge bg-color-dark-cyan color-white mono"></pre>
                    </div>
                  {{/ifCond}}
                </div>
                {{/each}}
                <hr class="splitter">
              </div>
            {{/each}}
          {{/each}}
        {{/each}}
      </div>
    </div>

  </div>
{{/each}}