{{#each groupVariant as |groupVariant key|}}
    <div class="flex">
        <div class="label width-25 right">
            <input
                type="radio"
                name="{{../id}}_pgs"
                {{#if @first}}checked{{/if}}
                data-block-ssr-params-group-selector="{{key}}"
                data-block-ssr-input-name="{{key}}"
            />
        </div>
        {{#with (context 'definitions') as |definitions|}}
            <div class="label">{{#ifCond key '==' 'null'}}{{_ ../../../defaultName}}{{else}}{{first (lookup definitions key 'title') key}}{{/ifCond}}</div>
        {{/with}}
    </div>
    <div class="section{{#if @first}}{{else}} hidden{{/if}}" data-block-ssr-params-group="{{key}}">
        {{> contentSsrParamGroupVariantSection groupVariantSection=groupVariant param=../param id=../id group=key field=null index=0}}
    </div>
{{/each}}
