<div
    class="{{#ifCond index '!=' 0}}hidden{{/ifCond}}"
    data-block-ssr-class="{{class}}"
    data-block-ssr-field="{{field}}"
    data-block-ssr-group-variant-index="{{index}}"
    data-block-ssr-group-variant-selectable="{{field}}_{{index}}_{{class}}"
>
    {{#each groupVariantSection.prop as |prop|}}
        <div class="section flex">
            {{#with (first (lookup ../param prop.[0].list.[0]) (lookup ../../param prop.[0].list.[0])) as |param|}} <!-- ??? -->
                <label
                    class="input-label width-25"
                    for="{{../../id}}_{{param.field.name}}_{{../../class}}"
                    title="{{p.field.name}}"
                >
                    {{param.field.name}}
                </label>
            {{/with}}
            {{#each prop as |p|}}
                {{#with (first (lookup ../../param p.list.[0]) (lookup ../../../param p.list.[0])) as |param|}} <!-- ??? -->
                    {{#ifCond param.type.modifiers.enum '!=' undefined}}
                        <select
                            class="input-param flex-1{{#if @first}}{{else}} hidden{{/if}}"
                            id="{{../../../../id}}_{{param.field.name}}_{{../../../../class}}_{{@index}}"
                            name="{{param.field.name}}"
                            data-block-ssr-group="{{../../../../group}}"
                            data-block-ssr-field="{{param.field.name}}"
                            data-block-ssr-group-variant-param-index="{{p.list.[0]}}"
                            data-block-ssr-group-variant-selectable="{{param.field.name}}_{{@index}}_{{../../../../class}}"
                            data-block-ssr-class="{{../../../../class}}"
                            data-block-ssr-input-global-id="_{{param.field.name}}_{{../../../../class}}"
                            value="{{param.field.defaultValue}}"
                        >{{#if param.field.isOptional}}<option value=""></option>{{/if}}{{#each param.type.allowedValues}}<option value="{{this}}">{{this}}</option>{{/each}}</select>
                    {{else ifCond param.type.modifiers.initial '==' 'parametrizedbody'}}
                        <textarea
                            class="input-param-raw-body flex-1{{#if @first}}{{else}} hidden{{/if}}"
                            id="{{../../../../id}}_{{param.field.name}}_{{../../../../class}}_{{@index}}"
                            name="{{param.field.name}}"
                            data-block-ssr-class="{{../../../../class}}"
                            data-block-ssr-field="{{param.field.name}}"
                            data-block-ssr-group="{{../../../../group}}"
                            data-block-ssr-group-variant-param-index="{{p.list.[0]}}"
                            data-block-ssr-group-variant-selectable="{{param.field.name}}_{{@index}}_{{../../../../class}}"
                            data-block-ssr-input-global-id="_{{param.field.name}}_{{../../../../class}}"
                            rows="10"
                        >{{param.field.defaultValue}}</textarea>
                    {{else ifCond param.type.modifiers.initial '==' 'rawbody'}}
                        <textarea
                            class="input-param-raw-body flex-1{{#if @first}}{{else}} hidden{{/if}}"
                            id="{{../../../../id}}_{{param.field.name}}_{{../../../../class}}_{{@index}}"
                            name="{{param.field.name}}"
                            data-block-ssr-class="{{../../../../class}}"
                            data-block-ssr-field="{{param.field.name}}"
                            data-block-ssr-group="{{../../../../group}}"
                            data-block-ssr-group-variant-param-index="{{p.list.[0]}}"
                            data-block-ssr-group-variant-selectable="{{param.field.name}}_{{@index}}_{{../../../../class}}"
                            data-block-ssr-input-global-id="{{param.field.name}}_{{../../../../class}}"
                            rows="10"
                        >{{param.field.defaultValue}}
                        </textarea>
                    {{else ifCond param.type.modifiers.initial '==' 'boolean'}}
                        <input
                            class="input-param flex-1{{#if @first}}{{else}} hidden{{/if}}"
                            id="{{../../../../id}}_{{param.field.name}}_{{../../../../class}}_{{@index}}"
                            name="{{param.field.name}}"
                            type="checkbox"
                            data-block-ssr-class="{{../../../../class}}"
                            data-block-ssr-field="{{param.field.name}}"
                            data-block-ssr-group="{{../../../../group}}"
                            data-block-ssr-group-variant-param-index="{{p.list.[0]}}"
                            data-block-ssr-group-variant-selectable="{{param.field.name}}_{{@index}}_{{../../../../class}}"
                            data-block-ssr-input-global-id="{{param.field.name}}_{{../../../../class}}"
                            {{#if param.field.defaultValue}}checked{{/if}}
                        />
                    {{else}}
                        <input
                            class="input-param flex-1{{#if @first}}{{else}} hidden{{/if}}"
                            id="{{../../../../id}}_{{param.field.name}}_{{../../../../class}}_{{@index}}"
                            name="{{param.field.name}}"
                            type="{{#ifCond param.type.modifiers.initial '==' 'file'}}file{{else}}text{{/ifCond}}"
                            data-block-ssr-class="{{../../../../class}}"
                            data-block-ssr-field="{{param.field.name}}"
                            data-block-ssr-group="{{../../../../group}}"
                            data-block-ssr-group-variant-param-index="{{p.list.[0]}}"
                            data-block-ssr-group-variant-selectable="{{param.field.name}}_{{@index}}_{{../../../../class}}"
                            data-block-ssr-input-global-id="{{param.field.name}}_{{../../../../class}}"
                            value="{{param.field.defaultValue}}" {{#hook 'isNotContainerType' param.type}}{{else}}disabled{{/hook}}
                        />
                    {{/ifCond}}
                {{/with}}
            {{/each}}
            {{#each prop as |p|}}
                {{#with (first (lookup ../../param p.list.[0]) (lookup ../../../param p.list.[0])) as |param|}} <!-- ??? -->
                    <span class="input-placeholder mono">{{#ifCond prop.length '>' 1}}<input
                        type="radio"
                        name="{{../../../../id}}_{{param.field.name}}_{{../../../../class}}_gvs"
                        {{#if @first}}checked{{/if}}
                        data-block-ssr-class="{{../../../../class}}"
                        data-block-ssr-field="{{param.field.name}}"
                        data-block-ssr-group="{{../../../../group}}"
                        data-block-ssr-group-variant-index="{{@index}}"
                        data-block-ssr-group-variant-selector="{{param.field.name}}_{{@index}}_{{../../../../class}}"
                    />{{/ifCond}}{{param.type.name}}</span>
                {{/with}}
            {{/each}}
        </div>
        {{#with (first (lookup ../param prop.[0].list.[0]) (lookup ../../param prop.[0].list.[0])) as |param|}} <!-- ??? -->
            {{#each prop as |p|}}
                {{> contentSsrParamGroupVariantSection
                    class=../../../class
                    defaultName=../../../defaultName
                    field=param.field.name
                    group=../../../group
                    groupVariantSection=p
                    id=../../../id
                    index=@index
                    param=../../../param
                }}
            {{/each}}
        {{/with}}
    {{/each}}
</div>
