<div class="container flex" xmlns="http://www.w3.org/1999/html">
  <div class="width-100">
    <div class="sub-container">
      <div class="control-panel">
        <div class="width-100 flex">
          <div class="width-20">
          </div>
          <div class="width-80 flex">
            <div class="width-60"></div>
            <div class="width-40 flex">
              <div class="flex-1">
                <select class="width-100 input right color-blue" data-version-selector>
                  <option value="null">{{_ 'allVersions'}}</option>
                  {{#each this.versions}}
                    <option value="{{@key}}">{{@key}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="flex-1">
                <select class="width-100 input right color-blue" data-version-compare-to-selector>
                  <option value="null">{{_ 'compareTo'}}</option>
                  {{#each this.versions}}
                    <option value="{{@key}}">{{@key}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="flex-2">
                <select class="width-100 input right color-blue" data-chapter-selector>
                  {{#each chaptersAsLists}}
                    {{#ifCond this.title '==' 'null'}}
                      <option value="{{../this.title}}">{{_ 'mainChapter'}}</option>
                    {{else}}
                      {{#with (context 'definitions') as |definitions|}}
                        <option value="{{../../this.title}}">{{first (lookup definitions ../../this.title 'title') ../../this.title}}</option>
                      {{/with}}
                    {{/ifCond}}
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section left-padded color-1 font-size-4 bold">{{title}}</div>
      <div class="section left-padded color-2">{{toHtml description}}</div>
    </div>
  </div>

</div>
{{#each chaptersAsLists as |chapter index|}}
  <div class="container{{#ifCond index '!=' 0}} hidden{{/ifCond}}" data-chapter="{{this.title}}">
    {{#with (context 'definitions') as |definitions|}}
      {{#if (lookup definitions ../this.title 'description')}}
        <div class="sub-container">
          <div class="section left-padded color-2">{{toHtml (join (lookup definitions ../this.title 'description') true)}}</div>
        </div>
      {{/if}}
    {{/with}}

    <div class="flex">

      <!-- menu -->

      <div class="width-20">
        <div class="sub-container menu">
          {{#each this.groups}}
            <div class="menu-group">
              {{#ifCond this.title '!=' 'null'}}
                {{#with (context 'definitions') as |definitions|}}
                  <a class="element-badge bg-color-1 color-white bold menu-item" href="#{{../../this.id}}">{{first (lookup definitions ../../this.title 'title') ../../this.title}}</a>
                {{/with}}
              {{/ifCond}}
              {{#each this.subgroups}}
                <div class="menu-subgroup">
                  {{#ifCond this.title '!=' 'null'}}
                    {{#with (context 'definitions') as |definitions|}}
                      <a class="bold smaller menu-subgroup__header menu-item" href="#{{../../this.id}}">{{first (lookup definitions ../../this.title 'title') ../../this.title}}</a>
                    {{/with}}
                  {{/ifCond}}
                  {{#each this.apis}}
                    {{#each this as |block index|}}
                      <a class="left-padded menu-item{{#ifCond index '!=' 0}} hidden{{/ifCond}}" href="#{{this.familyId}}" data-element-menu-item="{{block.id}}" data-family="{{this.[0].familyId}}">{{this.name}}</a>
                    {{/each}}
                  {{/each}}
                  {{#each this.notes}}
                    {{#each this as |block index|}}
                      <a class="left-padded menu-item color-blue{{#ifCond index '!=' 0}} hidden{{/ifCond}}" href="#{{this.familyId}}" data-element-menu-item="{{block.id}}" data-family="{{this.[0].familyId}}">{{this.name}}</a>
                    {{/each}}
                  {{/each}}
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
      </div>

      <!-- main content -->

      <div class="width-80">
        <div class="sub-container">
          {{#each this.groups}}

            {{#ifCond this.title '!=' 'null'}}
              <div class="section left-padded color-1 font-size-2 bold">
                <a class="section-title" href="#{{../this.id}}" name="{{../this.id}}">
                  {{#with (context 'definitions') as |definitions|}}
                    {{first (lookup definitions ../../this.title 'title') ../../this.title}}
                  {{/with}}
                </a>
              </div>
              {{#with (lookup (context 'definitions') ../this.title 'description') as |description|}}
                {{#if description}}
                  <div class="section left-padded color-2">{{toHtml (join description true)}}</div>
                {{/if}}
              {{/with}}
            {{/ifCond}}

            {{#each this.subgroups}}

              {{#ifCond this.title '!=' 'null'}}
                <div class="section left-padded color-1 font-size-1 bold">
                  <a class="section-title" href="#{{../this.id}}" name="{{../this.id}}">
                    {{#with (context 'definitions') as |definitions|}}
                      {{first (lookup definitions ../../this.title 'title') ../../this.title}}
                    {{/with}}
                  </a>
                </div>
                {{#with (lookup (context 'definitions') ../this.title 'description') as |description|}}
                  {{#if description}}
                    <div class="section left-padded color-2">{{toHtml (join description true)}}</div>
                  {{/if}}
                {{/with}}
              {{/ifCond}}

              <!-- apis -->

              {{#each this.apis}}
                <div class="block" data-family="{{this.0.familyId}}">
                  <div class="control-panel">
                    <div class="width-40 flex" data-control-panel="{{this.0.familyId}}">
                      <div class="flex-1">
                        <select class="width-100 input flex-1 right color-blue" data-control-panel-version-selector>
                          {{#each this}}
                            <option value="{{this.version}}">{{this.version}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="flex-1">
                        <select class="width-100 input flex-1 right color-blue" data-control-panel-version-compare-to-selector>
                          <option value="null">{{_ 'compareTo'}}</option>
                          {{#each this}}
                            <option value="{{this.version}}">{{this.version}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="flex-1">
                        <button class="width-100 control flex-1 color-blue">{{_ 'hideHints'}}</button>
                      </div>
                      <div class="flex-1"></div>
                    </div>
                  </div>
                  {{#each this as |block index|}}
                    {{#ifCond index '==' 0}}
                      <a name="{{block.familyId}}"></a>
                    {{/ifCond}}
                  <a name="{{block.id}}"></a>
                  <div class="{{#ifCond index '!=' 0}}hidden{{/ifCond}}" data-block="{{block.id}}">
                    <div class="control-panel">
                      <div class="width-10 flex" data-block-control-panel="{{block.id}}">
                        <div class="flex-1">
                          <select class="width-100 input right color-blue" data-block-content-type>
                            {{#each block.contentType}}
                              <option value="{{this}}">{{this}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="hidden" data-block-compare-to-diff-content></div>
                    <div data-block-compare-to-content>

                      <!-- title -->

                      <div class="section left-padded color-1 font-size-1">
                        <a class="section-title" href="#{{block.id}}">
                          <span class="{{#if this.deprecated}}line-through{{/if}}">
                            {{this.title}}
                            <span class="color-3">
                              {{#ifCond this.group.name '!=' null}}
                                {{first ../this.group.title ../this.group.name}} /
                              {{/ifCond}}
                              {{#ifCond this.subgroup.name '!=' null}}
                                {{first ../this.subgroup.title ../this.subgroup.name}} /
                              {{/ifCond}}
                              {{this.version}}
                            </span>
                          </span>
                          {{#if this.deprecated}}
                            {{#ifCond this.deprecated '!=' true}}
                              <span class="left-padded color-red small sup">{{../this.deprecated}}</span>
                            {{/ifCond}}
                          {{/if}}
                        </a>
                      </div>

                      <!-- title:end -->

                      <div class="section left-padded color-2">{{toHtml (join this.description true)}}</div>

                      <div class="section flex">
                        <span class="padded font-size-1 uppercase mono bold">{{toUpperCase this.api.transport.name}}</span>
                        {{#ifCond this.api.transport.name '==' 'http'}}
                          {{#ifCond ../this.api.transport.method '==' 'delete'}}
                            <span class="badge bg-color-red color-white font-size-1 uppercase mono bold">DELETE</span>
                          {{else ifCond ../this.api.transport.method '==' 'get'}}
                            <span class="badge bg-color-green color-white font-size-1 uppercase mono bold">GET</span>
                          {{else ifCond ../this.api.transport.method '==' 'put'}}
                            <span class="badge bg-color-orange color-white font-size-1 uppercase mono bold">PUT</span>
                          {{else}}
                            <span class="badge bg-color-blue color-white font-size-1 uppercase mono bold">{{../this.api.transport.method}}</span>
                          {{/ifCond}}
                        {{/ifCond}}
                      </div>

                      <div class="section">
                        <div class="response big-badge bg-color-black color-white font-size-1 mono">{{this.api.endpoint}}</div>
                      </div>

                      {{#if this.permission}}
                        <div class="section">
                          <span class="padded">
                            Permission:
                            {{#each this.permission}}
                              <span class="badge bg-color-dark-cyan color-white">{{this.name}}</span>
                            {{/each}}
                          </span>
                        </div>
                      {{/if}}

                      <div data-block-hint="{{block.familyId}}">

                        <!-- usage example -->

                        {{#if this.example.length}}
{{> contentParamExample example=this.example defaultName='usageExample' id=this.id contentType='any'}}
                        {{/if}}

                        <!-- header -->

                        {{#if this.header.length}}
                          {{> contentParamGroup group=this.headerGroup param=this.header defaultName='header'}}
                        {{/if}}

                        {{#if this.headerValue.length}}
                          {{> contentParamValueGroup group=this.headerValueGroup defaultName='headerValue'}}
                        {{/if}}

                        {{#if this.headerExample.length}}
{{> contentParamExample example=this.headerExample defaultName='headerExample' id=this.id contentType=this.contentType}}
                        {{/if}}

                        <!-- param -->

                        {{#if this.param.length}}
                          {{> contentParamGroup group=this.paramGroup param=this.param defaultName='parameter'}}
                        {{/if}}

                        {{#if this.paramValue.length}}
                          {{> contentParamValueGroup group=this.paramValueGroup defaultName='parameterValue'}}
                        {{/if}}

                        {{#if this.paramExample.length}}
{{> contentParamExample example=this.paramExample defaultName='parameterExample' id=this.id contentType=this.contentType}}
                        {{/if}}

                        <!-- success -->

                        {{#if this.success.length}}
                          {{> contentParamGroup group=this.successGroup param=this.success defaultName='success200' color='color-green'}}
                        {{/if}}

                        {{#if this.successValue.length}}
                          {{> contentParamValueGroup group=this.successValueGroup defaultName='successValue' color='color-green'}}
                        {{/if}}

                        {{#if this.successExample.length}}
{{> contentParamExample example=this.successExample defaultName='successExample' id=this.id contentType=this.contentType color='color-green'}}
                        {{/if}}

                        <!-- error -->

                        {{#if this.error.length}}
                          {{> contentParamGroup group=this.errorGroup param=this.error defaultName='error4xx' color='color-red'}}
                        {{/if}}

                        {{#if this.errorValue.length}}
                          {{> contentParamValueGroup group=this.errorValueGroup defaultName='errorValue' color='color-red'}}
                        {{/if}}

                        {{#if this.errorExample.length}}
{{> contentParamExample example=this.errorExample defaultName='errorExample' id=this.id contentType=this.contentType color='color-red'}}
                        {{/if}}
                      </div>
                    </div>

                    <!--
                    Send sample request
                    -->

                    {{#ifCond this.sampleRequest.length '!=' 0}}
                      <div class="label">{{_ 'sendSampleRequest'}}</div>

                      {{#if ../this.sampleRequestProxy}}
                        <div class="inner-label color-blue">{{_ 'preset'}}</div>

                        <div class="section flex">
                          <label class="input-label width-25 color-blue" for="{{this.id}}">{{_ 'name'}}</label>
                          <input
                            class="input-param flex-1 color-blue"
                            id="{{../this.id}}_presetName"
                            name="presetName"
                            type="text"
                            data-block-ssr-preset-name
                            value=""
                          />
                          <select class="input-param flex-1 color-blue" data-block-ssr-preset-selector>
                            <option value="new">{{_ 'new'}}</option>
                          </select>
                        </div>

                        <div class="section">
                          <button class="button margin-left-25 color-blue" data-block-ssr-preset-save>{{_ 'save'}}</button>
                          <button class="button color-blue" data-block-ssr-preset-load-list>{{_ 'loadList'}}</button>
                        </div>
                      {{/if}}

                      {{#if ../this.sampleRequestVariable.length}}
                        <div class="inner-label color-green">{{_ 'variable'}}</div>

                        <div class="section flex">
                          {{#each ../this.sampleRequestVariable}}
                            <label class="input-label width-25 color-green" for="{{../../this.id}}_{{this.field.name}}_variable" title="{{this.field.name}}">
                              {{this.field.name}}
                            </label>
                            <input
                              class="input-param flex-1 color-green"
                              id="{{../../this.id}}_{{this.field.name}}_variable"
                              name="{{this.field.name}}"
                              type="text"
                              data-block-ssr-class="variable"
                              data-block-ssr-input-global-id="_{{this.field.name}}_variable"
                              value="{{this.field.defaultValue}}"
                            />
                          {{/each}}
                        </div>
                      {{/if}}

                      <div class="inner-label"></div>

                      <div class="section flex">
                        <label class="input-label width-25 bold" for="{{this.id}}">Endpoint</label>
                        <input
                          class="input-param flex-1"
                          id="{{../this.id}}_endpoint"
                          name="endpoint"
                          type="text"
                          data-block-ssr-endpoint
                          value="{{first ../this.sampleRequest.[0] ../this.api.endpoint}}"
                        />
                      </div>

                      {{#if ../this.header.length}}
                        <div class="inner-label"><hr></div>
                        {{> contentSsrParamGroupVariant
                          class='header'
                          defaultName='header'
                          groupVariant=../this.headerGroupVariant
                          id=block.id
                          param=../this.header
                        }}
                      {{/if}}

                      {{#if ../this.param.length}}
                        <div class="inner-label"><hr></div>
                        {{> contentSsrParamGroupVariant
                          class='param'
                          defaultName='parameter'
                          groupVariant=../this.paramGroupVariant
                          id=block.id
                          param=../this.param
                        }}
                      {{/if}}

                      <div class="section">
                        <button class="button margin-left-25" data-block-ssr-send>{{_ 'send'}}</button>
                        {{#ifCond ../this.api.transport.name '==' 'websocket'}}
                          <button class="button" data-block-ssr-ws-connect>{{_ 'connect'}}</button>
                          <button class="button hidden" data-block-ssr-ws-disconnect>{{_ 'disconnect'}}</button>
                        {{else ifCond ../this.api.transport.name '==' 'natssub'}}
                          <button class="button" data-block-ssr-ws-connect>{{_ 'connect'}}</button>
                          <button class="button hidden" data-block-ssr-ws-disconnect>{{_ 'disconnect'}}</button>
                        {{else ifCond ../this.api.transport.name '==' 'rabbitmqsub'}}
                          <button class="button" data-block-ssr-ws-connect>{{_ 'connect'}}</button>
                          <button class="button hidden" data-block-ssr-ws-disconnect>{{_ 'disconnect'}}</button>
                        {{else ifCond ../this.api.transport.name '==' 'redissub'}}
                          <button class="button" data-block-ssr-ws-connect>{{_ 'connect'}}</button>
                          <button class="button hidden" data-block-ssr-ws-disconnect>{{_ 'disconnect'}}</button>
                        {{else ifCond ../this.api.transport.name '==' 'socketio'}}
                          <button class="button" data-block-ssr-ws-connect>{{_ 'connect'}}</button>
                          <button class="button hidden" data-block-ssr-ws-disconnect>{{_ 'disconnect'}}</button>
                        {{/ifCond}}
                      </div>

                      <div class="section hidden" data-block-ssr-error-response>
                        <div class="label">{{_ 'errorResponse'}}</div>
                        <pre class="response big-badge bg-color-dark-red color-white mono"></pre>
                      </div>

                      <div class="section hidden" data-block-ssr-response>
                        <div class="label">{{_ 'response'}}</div>
                        <pre class="response big-badge bg-color-dark-cyan color-white mono"></pre>
                      </div>
                    {{/ifCond}}
                  </div>
                  {{/each}}
                  <hr class="splitter">
                </div>
              {{/each}}

              <!--
              Notes
              -->

              {{#each this.notes}}
                <div class="block" data-family="{{this.0.familyId}}">
                  <div class="control-panel">
                    <div class="width-40 flex" data-control-panel="{{this.0.familyId}}">
                      <div class="flex-1">
                        <select class="width-100 input flex-1 right color-blue" data-control-panel-version-selector>
                          {{#each this}}
                            <option value="{{this.version}}">{{this.version}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="flex-1">
                        <select class="width-100 input flex-1 right color-blue" data-control-panel-version-compare-to-selector>
                          <option value="null">{{_ 'compareTo'}}</option>
                          {{#each this}}
                            <option value="{{this.version}}">{{this.version}}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="flex-1">
                        <button class="width-100 control flex-1 color-blue" disabled>{{_ 'hideHints'}}</button>
                      </div>
                      <div class="flex-1"></div>
                    </div>
                  </div>
                  {{#each this as |block index|}}
                    {{#ifCond index '==' 0}}
                      <a name="{{block.familyId}}"></a>
                    {{/ifCond}}
                  <div class="{{#ifCond index '!=' 0}}hidden{{/ifCond}}" data-block="{{block.id}}">
                    <div class="control-panel">
                      <div class="width-10 flex" data-block-control-panel="{{block.id}}">
                        <div class="flex-1">
                          <select class="width-100 input right color-blue" data-block-content-type disabled>
                            {{#each block.contentType}}
                              <option value="{{this}}">{{this}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="hidden" data-block-compare-to-diff-content></div>
                    <div data-block-compare-to-content>

                      <!-- title -->

                      <div class="section left-padded color-1 font-size-1 bold">
                        <a class="section-title color-blue" href="#{{block.familyId}}">
                          <span class="{{#if this.deprecated}}line-through{{/if}}">
                            {{this.title}}
                            <span class="color-3">
                              {{#ifCond this.group.name '!=' null}}
                                {{first ../this.group.title ../this.group.name}} /
                              {{/ifCond}}
                              {{#ifCond this.subgroup.name '!=' null}}
                                {{first ../this.subgroup.title ../this.subgroup.name}} /
                              {{/ifCond}}
                              {{this.version}}
                            </span>
                          </span>
                          {{#if this.deprecated}}
                            {{#ifCond this.deprecated '!=' true}}
                              <span class="left-padded color-red small sup">{{../this.deprecated}}</span>
                            {{/ifCond}}
                          {{/if}}
                        </a>
                      </div>

                      <!-- title:end -->

                      <div class="section left-padded color-2">{{toHtml (join this.description true)}}</div>

                      <div data-block-hint="{{block.familyId}}">

                        <!-- usage example -->

                        {{#if this.example.length}}
{{> contentParamExample example=this.example defaultName='usageExample' id=this.id contentType='any'}}
                        {{/if}}

                        <!-- header -->

                        {{#if this.header.length}}
                          {{> contentParamGroupVariant groupVariant=this.headerGroupVariant param=this.header defaultName='header'}}
                        {{/if}}

                        {{#if this.headerValue.length}}
                          {{> contentParamValueGroup group=this.headerValueGroup defaultName='headerValue'}}
                        {{/if}}

                        {{#if this.headerExample.length}}
{{> contentParamExample example=this.headerExample defaultName='headerExample' id=this.id contentType=this.contentType}}
                        {{/if}}

                        <!-- param -->

                        {{#if this.param.length}}
                          {{> contentParamGroupVariant groupVariant=this.paramGroupVariant param=this.param defaultName='parameter'}}
                        {{/if}}

                        {{#if this.paramValue.length}}
                          {{> contentParamValueGroup group=this.paramValueGroup defaultName='parameterValue'}}
                        {{/if}}

                        {{#if this.paramExample.length}}
{{> contentParamExample example=this.paramExample defaultName='parameterExample' id=this.id contentType=this.contentType}}
                        {{/if}}

                        <!-- success -->

                        {{#if this.success.length}}
                          {{> contentParamGroupVariant groupVariant=this.successGroupVariant param=this.success defaultName='success200' color='color-green'}}
                        {{/if}}

                        {{#if this.successValue.length}}
                          {{> contentParamValueGroup group=this.successValueGroup defaultName='successValue' color='color-green'}}
                        {{/if}}

                        {{#if this.successExample.length}}
{{> contentParamExample example=this.successExample defaultName='successExample' id=this.id contentType=this.contentType color='color-green'}}
                        {{/if}}

                        <!-- error -->

                        {{#if this.error.length}}
                          {{> contentParamGroupVariant groupVariant=this.errorGroupVariant param=this.error defaultName='error4xx' color='color-red'}}
                        {{/if}}

                        {{#if this.errorValue.length}}
                          {{> contentParamValueGroup group=this.errorValueGroup defaultName='errorValue' color='color-red'}}
                        {{/if}}

                        {{#if this.errorExample.length}}
{{> contentParamExample example=this.errorExample defaultName='errorExample' id=this.id contentType=this.contentType color='color-red'}}
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  {{/each}}
                  <hr class="splitter">
                </div>
              {{/each}}
            {{/each}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>
{{/each}}
